<img src="{{m.info.infoImg}}" alt="预览图" class="x-comment-preview news-img" onerror="this.src='images/news.png'"/>
<span class="x-comment-general-title" data-infoid="{{m.info.infoId}}">{{m.info.infoTitle}} <em></em></span>
<span class="x-comment-general-summary">{{m.parentContent}}</span>