<img src="images/share.png" alt="预览图" class="x-comment-preview"/>
<span class="x-comment-general-title" data-symbolcode="{{m.symbol.symbolCode}}" data-symboltype="{{m.symbol.symbolType}}">{{m.symbol.symbolName}} <em>{{m.symbol.symbolCode}}</em></span>