<img src="images/tiezi.png" alt="预览图" class="x-comment-preview"/>
<span class="x-comment-general-title" data-postid="{{m.post.postId}}">{{m.post.postTitle}}</span>
<span class="x-comment-general-summary">{{m.parentContent || m.post.postContent}}</span>