<div class="nav-display-3 clearfix">
    <u class="x-nav-link">
        <a href="javascript:void(0);" re-url="{{titles[0].url}}" re-name="{{titles[0].name}}" re-proxy="{{titles[0].isProxy}}" class="eventToNative" otype="{{titles[0].otype}}" otitle="{{titles[0].otitle}}" viewport="{{titles[0].viewport}}">
            <i class="x-i-yuan{{titles[0].icon_yuan_type}}"></i>
            <strong>{{titles[0].name}}</strong>
        </a>
    </u>
    <div class="overflow x-overflow-layout2">
        <u class="x-nav-link" ng-repeat="n in nav">
            <a href="javascript:void(0);" re-url="{{n.url}}" re-name="{{n.name}}" re-proxy="{{n.isProxy}}" class="eventToNative" otype="{{n.otype}}" otitle="{{n.otitle}}" viewport="{{n.viewport}}">
                <i class="x-i-yuan{{n.icon_yuan_type}}"></i>
                <strong>{{n.name}}</strong>
            </a>
        </u>
    </div>
</div>