<div class="nav-display-2">
    <div class="x-w_half clearfix" ng-repeat="t in titles">
        <u class="x-nav-link">
            <a href="javascript:void(0);" re-url="{{t.url}}" re-name="{{t.name}}" re-proxy="{{t.isProxy}}" class="eventToNative" otype="{{t.otype}}" otitle="{{t.otitle}}" viewport="{{t.viewport}}">
                <i class="x-i-yuan{{t.icon_yuan_type}}"></i>
                <strong>{{t.name}}</strong>
            </a>
        </u>
    </div>
</div>